{% extends 'layout.html'%}
{% block body %}
<p></p>
<p>This is a basic web application created to fulfill part of the requirements for the QA Dev Ops bootcamp final project.</p>
<p><b>The requirements for the web application are:</b></p>
<p>- Must serve both front and back end</p>
<p>- Front end to use HTML templates to serve webpages that allow the user to perform CRUD functionality with information from teh database </p>
<p>- Backend aspect to use SQLAlchemy to model and integrate with databse</p>
<p><b>The requirements for the Database are:</b></p>
<p>- Must contain two tables with a relationship</p>
<p>- Relationship must conatin one-to-many but many-to-many also allowed</p>
<p>- The application must interface with a seperate database service (MySQL conatiner or MySQL Databse for Azure)</p>

{% endblock body %}