<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nonsense Academic Paper WebApp</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<style>
    a {color:white}
</style>
<body style="font-family: Source Sans Pro, sans-serif; background-image: url('../static/background.jpg')">
    <div class="header" style="background-color:#282624; width:100%; margin: 0 auto">
        <div style="display:flex"><img src="{{url_for('static', filename='books_icon.png')}}" height='100px' style='margin: 3px'/> <h1 style="color:white; font-size:50px; margin-left: 10px"> Nonsense Academic Database</h1></div>
        <div id = "links" style="text-align: center; display: flex; justify-content: space-around; color:white; padding-bottom: 10px; padding-left: 20px">
            <a href="{{ url_for('index') }}"  style='color:white'>Home</a>
            <a href="{{ url_for('update_academic') }}">Update an Academic's Details</a>
            <a href="{{ url_for('update_paper') }}">Update a Papers Details</a>
            <a href="{{ url_for('add_academic') }}">Add an Academic</a>
            <a href="{{ url_for('add_paper') }}">Add a Paper</a>
            <a href="{{ url_for('delete_paper') }}">Delete a Paper</a>
            <a href="{{ url_for('delete_academic') }}">Delete an Academic</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </div>
    <div class="container">        
        {% block body %}
        {% endblock body %}
    </div>
        <p style="position: fixed; bottom:0%; right:5%;">Michael Corcoran</p>
</body>
</html>