{% extends 'layout.html'%}

{% block body %}
{% if form %}
<h2>Add an Paper</h2>
<form method = 'POST'>
<br>
{{ form.title.label }} {{ form.title }}
<br>
<p></p>
{{ form.year_of_published.label }} {{ form.year_published }}
<br>
<p></p>
{{ form.field_of_study.label }} {{ form.field_of_study }}
<br>
{{ form.no_of_authors.label }} {{ form.no_of_authors }}
{% if form.no_of_authors.data = 1 %}
{{ form.author1.label }} {{ form.author1 }}
{% endif %}
{{ form.no_of_authors.label }} {{ form.no_of_authors }}
{% if form.no_of_authors.data = 2 %}
{{ form.author1.label }} {{ form.author1 }} {{ form.author2 }}
{% endif %}
{% if form.no_of_authors = 3 %}
{{ form.author1.label }} {{ form.author1 }} {{ form.author2 }} {{ form.author3}}
{% endif %}
{% if form.no_of_authors = 4 %}
{{ form.author1.label }} {{ form.author1 }} {{ form.author2 }} {{ form.author3}} {{form.author4}}
{{ form.submit }}
</form>
{% endif %}
{% if paper %}
<h2>Paper created</h2>
<p><b>Title:</b> {{paper.title}} <b>Year Published:</b> Field of Study: {{ paper.field_of_study }}</p><br>
<p>Authors: {{author1.name}} {{author2.name}} {{author3.name}} {{author4.name}}</p>
{% endif %}
{% endblock body %}