{% extends 'layout.html'%}

{% block body %}
<h2>Search of Academic</h2>
    <div class = 'form'>
        <form method="GET" action="">
            <!-- {{ form.hidden_tag() }} -->
            {{ form.name.label }} {{ form.name }}
            <br>
            <p></p>
            {{ form.submit }}
        </form>
    </div>
<h2>Search for Paper</h2>
<div class="form">
    <form method="GET" action="">
        <!-- {{ form.hidden_tag() }} -->
        {{ form.title.label }} {{ form.title }}
        <br>
        <p></p>
        {{ form.submit }}
    </form>
</div>
<div>
    <h1> Search Results</h1>
    <p>Total Number of Academics: {{total_number['number_of_academics']}}<p> 
    <br>
    <p>Total Number of Papers: {{total_number['number_of_papers']}}<p>
        <br>

    {% if search_term %}
    <h1>Search Result</h1>
        {% for result in search_term %}
    <p>name: {{result.name}}, Institution: {{result.current_institution}}, Field of Study: {{result.field_of_study}}
        {% endfor %}
    {% endif %}
</div>
{% endblock body %}