{% extends 'layout.html'%}

{% block body %}
<h1>Update Page</h1>
<br>
{% if init %}
    <h2>Choose Academic to Amend</h2>
    <form method = 'POST', action = ''>
        {{ form.academic_object.label }} {{ form.academic_object }}
        <br>
        <p><b>What would you like to Amend?</b></p>
        {{ form.name.label }} {{ form.name}}
        <br>
        {{ form.current_institution.label }} {{ form.current_institution }}
        <br>
        {{ form.field_of_study.label }} {{ form.field_of_study }} 
        <br>
        {{ form.submit }}
    </form>
{% endif %}
{% if acad %}
<h1>Academic Updated: {{ acad.name }}, {{ acad.current_institution }}, {{ acad.field_of_study }}</h1>
{% endif %}
{% endblock body %}